.wrap_svg{
    padding: 10px;
    display: flex;
    justify-content: center;

}
.switchForm1{
    display: flex;
    justify-content: center;
}
.switchForm2{
    display: flex;
    justify-content: center;
}

/*  Solar Part  */
circle.solarToBatt {
    motion-path: path('M143.075 76C53.9999 101.5 28.5 187 45.6711 246.747');
    offset-path: path('M143.075 76C53.9999 101.5 28.5 187 45.6711 246.747');
    animation: moveTo 2s linear forwards infinite, colorSolarToBatt 2s linear forwards infinite;
}
circle.solarToGrid {
    motion-path: path('M217.662 76C306.737 101.5 332.237 187 315.066 246.747');
    offset-path: path('M217.662 76C306.737 101.5 332.237 187 315.066 246.747');
    animation: moveTo 2s linear forwards infinite, colorSolarToGrid 2s linear forwards infinite;
}
circle.solarToHome {
    motion-path: path('M180 106L180 190');
    offset-path: path('M180 106L180 190');
    animation: moveTo 2s linear forwards infinite, colorSolarToHome 2s linear forwards infinite;
}

.onlyImageAnimation {
    animation: moveToForImage 4s linear forwards infinite
}


/*  Batt Part  */
circle.battToHome {
    motion-path: path('M80 263L163 218');
    offset-path: path('M80 263L163 218');
    animation: moveTo 2s linear forwards infinite, colorBattToHome 2s linear forwards infinite;
}

/*  Grid Part  */
circle.gridToBatt {
    motion-path: path('M279.5 308.288C213.213 373.024 123.395 352.808 80.0071 308.288');
    offset-path: path('M279.5 308.288C213.213 373.024 123.395 352.808 80.0071 308.288');
    animation: moveTo 2s linear forwards infinite, colorGridToBatt 2s linear forwards infinite;
}
circle.gridToHome {
    motion-path: path('M280 264L198 217');
    offset-path: path('M280 264L198 217');
    animation: moveTo 2s linear forwards infinite, colorGridToHome 2s linear forwards infinite;
}




/* Moving Animation */
@keyframes moveTo{
    0%{
        offset-distance: 0%;
    }
    30%{
        opacity: 0.7;
    }
    40%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    80%{
        opacity: 0.7;
    }
    100%{
        offset-distance: 100%;
    }
}
/* Moving Animation */
@keyframes moveToForImage {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0.7;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    80% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}



/* Color Animation - Solar To Something */
@keyframes colorSolarToBatt {
    0% {
        fill: #FF007A;
    }

    90% {
        fill: #05FF00;
    }

    100% {
        fill: #05FF00;
    }
}

@keyframes colorSolarToGrid {
    0% {
        fill: #FF007A;
    }

    90% {
        fill: #FFF500;
    }

    100% {
        fill: #FFF500;
    }
}

@keyframes colorSolarToHome {
    0% {
        fill: #FF007A;
    }

    100% {
        fill: #00D1FF;
    }
}

/* Color Animation - Batt To Something */
@keyframes colorBattToHome {
    0% {
        fill: #05FF00;
    }

    90% {
        fill: #00D1FF;
    }

    100% {
        fill: #00D1FF;
    }
}

/* Color Animation - Grid To Something */
@keyframes colorGridToBatt {
    0% {
        fill: #FFF500;
    }

    30% {
        fill: #FFF500;
    }

    100% {
        fill: #05FF00;
    }
}

@keyframes colorGridToHome {
    0% {
        fill: #FFF500;
    }

    30% {
        fill: #FFF500;
    }

    100% {
        fill: #00D1FF;
    }
}